<div class="container">
  <h2>russet:  <%= Guest.this_year.sum(:russet_potato) %></h2>
  <h2>sweet:   <%= Guest.this_year.sum(:sweet_potato) %></h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Guest</th>
        <th>Russet Potatoes</th>
        <th>Sweet Potatoes</th>
        <th>Contribution</th>
        <th>Message</th>
      </tr>
    </thead>
    <tbody>
      <% @guests.each do |guest| %>
        <tr>
          <td><%= guest.name %></td>
          <td><%= guest.russet_potato %></td>
          <td><%= guest.sweet_potato %></td>
          <td><%= guest.contribution.food if guest.contribution %></td>
          <td><%= guest.message %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

