<div class="retro-font contribs-page">
  <div class="contribs-page-background">
    <h2>russet:  <%= Guest.sum(:russet_potato) %></h2>
    <h2>sweet:   <%= Guest.sum(:sweet_potato) %></h2>
    <table>
      <tr>
        <td>|Guest| </td>
        <td>|Russet Potatoes| </td>
        <td>|Sweet Potatoes| </td>
        <td>|Message|</td>
      </tr>
      <% @guests.each do |guest| %>
        <tr>
          <td><%= guest.name %></td>
          <td><%= guest.russet_potato %></td>
          <td><%= guest.sweet_potato %></td>
          <td><%= guest.message %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

