<div class="container">
  <h4>Let us know how many potatoes to bake, and let everyone know what topping you’re bringing!</h4>
  <h4>More of a dessert fan? That’s cool, just put it on the list.</h4>
    
  <%= form_for @guest do |f| %>
    <div class="form-group">
      name(s): 
      <%= f.text_field :name, size: "70"%>
    </div>
    <div class="form-group">
      we plan on eating: 
      <%= f.number_field :russet_potato, value: 0, within: 0..10 %> russet potatoes.
    </div>
    <div class="form-group">
      we plan on eating:
      <%= f.number_field :sweet_potato, value: 0, within: 0..10 %> sweet potatoes.
    </div><br>
    
    <%= f.fields_for :contribution do |contribution_field| %>
      <div class="form-group">
        we'll bring:
        <%= contribution_field.text_field :food, size: "50" %>
        <%= render partial: '/contributions/inspiration_modal' %>
      </div><br>
    <% end %>
    
    <div class="form-group">
      <div>Hey Caroline and Spencer, just wanted to let you know...</div>
      <%= f.text_area(:message, size: "50x5") %>
    </div>
    <%= f.submit(value:"submit", class:"btn btn-primary btn-lg") %>
  <% end %>
</div>

