<% if signed_in? %>
  <%= button_to 'sign out', sign_out_path, method: :delete %>
<% end %>

<div id="flash">
  <% flash.each do |key, value| %>
    <div class="flash <%= key %>"><%= value %></div>
  <% end %>
</div>

<h1>potato party 2016<h1>
<%= link_to "reserve a potato", new_guest_path %>
<%= link_to "food board", contributions_path %>
<%= host_view_links %>