<div class="menu-wrapper2">
  <div class="menu-wrapper">
    <div class="retro-font home-button">
    </div>
    <div class="retro-font menu">
      <% if signed_in? %>
        <%= link_to "sign out", sign_out_path, method: :delete %>
        <%= link_to "guest count", guests_path %>
      <% end %>
      <%= link_to "HOME", root_path %>
      <%= link_to "INFO", info_path %>
      <%= link_to "FOOD", contributions_path %>
      <%= link_to "RSVP", new_guest_path %>
    </div>
  </div>
</div>