<div class="nav navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">potato party 2017</a>
    </div>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to "rsvp", new_guest_path %>
        </li>
        <li>
          <%= link_to "about", about_path %>
        </li>
        <li>
          <%= link_to "history", history_path %>
        </li>
        <li>
          <%= link_to "food", contributions_path %>
        </li>
        <% if signed_in? %>
        <li><%= link_to "sign out", sign_out_path, method: :delete %></li>
        <li><%= link_to "guest count", guests_path %></li>
        <% end %>
      </ul>
    </div>
</div>