<script>
function toggleInspiration() {
  var el = document.getElementById("inspiration");
  var lnk = document.getElementById("inspration_toggle")
  if (el.style.display === "none") {
    el.style.display = "";
    lnk.innerHTML = "Hide it, I'm inspired.";
  } else {
    el.style.display = "none";
    lnk.innerHTML = "Inspire me again"
  }
}
</script>

<p class="contribs-para">
Let everyone know what topping you’re bringing! More of a dessert fan? 
That’s cool, just put it on the list.
</p>

<div class="contribs-sub-title">Need inspiration? <a class="contribs-link-blue" href="javascript:void(0)" onclick="toggleInspiration()" id="inspration_toggle">Yes, inspire me</a>  </div>
<div id="inspiration" style="display:none">
  <p class="contribs-para">
  At the original Baked Potato Club that started it all (back in Baltimore at 
  the now-closed <%= link_to 'Birches', 'http://www.birchesrestaurant.com/', target: '_blank', class:"contribs-link-blue" %>), 
  you could order:
  <table class="contribs-table">
      <tr>
        <td> chopped tomatoes</td><td> chopped pickles</td><td>  grilled red onion</td><td> sour cream</td><td> jalapeno peppers</td><td> black beans</td>
      </tr>
      <tr>
        <td>scrambled eggs</td><td>manzanilla olives</td><td>roast roma tomatoes</td><td>golden raisins</td><td>queso fresco</td><td>grilled sweet corn</td>
      </tr>
      <tr>
        <td>roast poblano peppers</td><td>brussel sprouts</td><td>roast garlic chips</td><td>jumbo lump crab</td><td>carolina pulled pork</td><td>saute beef filet tips</td>
      </tr>
      <tr>
        <td> roast shallots</td><td>grape tomatoes</td><td>gorgonzola caramelized onions</td><td>banana pepper rings</td><td>roast pork belly</td><td>smoked mozzarella</td>
      </tr>
      <tr>
        <td> backfin crab</td><td>boursin cheese</td><td>oven-roasted roma tomatoes</td><td>sauteed ground beef</td><td>basil pesto</td><td>buffalo chicken</td>
      </tr>
      <tr>
        <td> maple dry rub chicken</td><td>grilled chicken</td><td>mozzarella di bufala</td><td>smoked mozzarella</td><td>vermont cheddar</td><td>feta cheese</td>
      </tr>
      <tr>
        <td> goat cheese</td><td>gruyere</td><td>mushrooms</td><td>artichoke hearts</td><td>halloumi</td><td>demi-glace</td>
      </tr>
      <tr>
        <td> boursin cheese</td><td>colby jack</td><td>crumbled blue cheese</td><td>avocado</td><td>applewood smoked bacon</td><td>roasted peppers</td>
      </tr>
      <tr>
        <td>pepperoni</td><td>scallions</td><td>chipotle aioli</td><td>lantana onions</td><td>tomato basil sauce</td><td>parmesan</td>
      </tr>
      <tr>
        <td>  mozzarella</td><td>grilled scallops</td><td>ground turkey</td><td>grilled flank steak</td><td>sauteed baby spinach</td><td>grilled asparagus</td>
      </tr>
  </table>
</div>
   

<%= form_for contribution do |f| %>

  <div class="contribs-form-row">
    <div class="contribs-form-label">name:</div> 
    <%= f.text_field :person, class: "contribs-form-textbox" %>
  </div>
  
  <div class="contribs-form-row">
    <div class="contribs-form-label">i'll bring:</div> 
    <%= f.text_field :food, class: "contribs-form-textbox" %>
  </div>
  
  <div class="contribs-form-row">
    <%= f.submit "Add to List", class:"butter-button wide-button"%>
  </div>
  
<% end %>
