<!DOCTYPE html>
<html>
  <head>
    <title>potato party</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="header">
      <% if signed_in? -%>
        <%= button_to t(".sign_out"), sign_out_path, method: :delete %>
      <% end -%>
    </div>
    <%= yield %>
    <%= render "/shared/nav_bar" %>
  </body>
</html>
